<h1><%= @restaurant.name %></h1>

<h4><%= @restaurant.category %> restaurant</h2>
<hr>

<h4>Address:</h4>
<p><%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>

<%= link_to "Back to main list", restaurants_path, class: "btn btn-primary" %>
