<h1><%= @restaurant.name %></h1>

<h4><%= @restaurant.category %> restaurant</h2>
<hr>

<h4>Address:</h4>
<p><%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<hr>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
<%= link_to "Back to main list", restaurants_path, class: "btn btn-primary" %>
<hr>
<h4>Reviews</h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= "â­ï¸"*review.rating %> - <%= review.content %></li>
  <% end %>
</ul>
